.px-paginate-container {
    user-select: none;
}

.px-paginate-container.px-left {
    float: left;
}

.px-paginate-container .d-none {
    display: none;
}

.px-paginate-container.px-center {
    display: table;
    margin: 0 auto;
}

.px-paginate-container.px-right {
    float: right;
}

.px-paginate-container .px-btn,
.px-paginate-container .px-points {
    float: left;
    width: 32px;
    text-align: center;
    padding: 6px 0;
    border-right: none;
    background: #fff;
    opacity: 0.3;
}


/* .px-paginate-container .px-btn-last, .px-paginate-container .px-btn-first{
    font-weight: bold;
}
.px-paginate-container .px-btn-prev, .px-paginate-container .px-btn-next{
    font-weight: bold;
} */

.px-paginate-container .px-points {
    background: white;
    color: #3F2B4F;
    opacity: 1;
}

.px-paginate-container .px-btn:last-child {
    opacity: 1;
    color: #F8A35B;
}

.px-btn-prev {
    opacity: 1 !important;
    color: #F8A35B;
}

.px-btn-next {
    opacity: 1 !important;
    color: #F8A35B;
}

.px-paginate-container .px-btn:hover {
    cursor: pointer;
    background: #f8a45b3a;
    opacity: 1;
}

.px-paginate-container .px-btn.selected {
    opacity: 1;
}

.px-btn-last,
.px-btn-first {
    color: #F8A35B;
    opacity: 0.5 !important;
    transition: 0.3s;
}

.px-btn-first:hover {
    background: transparent !important;
    opacity: 1 !important;
}

.px-btn-last:hover {
    background: transparent !important;
    opacity: 1 !important;
}